* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-dash {
	/* border: 1px solid red; */
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
}

.side-nav {
	/* border: 1px solid green; */
	width: 150px;
	height: 100vh;
	text-align: center;
	padding: 0px 10px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: #fff;
}

.main-container {
	/* border: 1px solid yellow; */
	width: 100%;
	height: 100vh;
}

.profile-image {
	padding: 20px;
	/* border: 1px solid purple; */
	margin-bottom: 10px;
}

.image {
	border-radius: 50%;
	cursor: pointer;
}

.image:hover {
	opacity: 0.6;
}

.user-name {
	border-bottom: 3px solid #DB5B78;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.link {
	width: 100%;
	/* border: 1px solid purple; */
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-top: 40px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 600;
	transition: 0.5s;
}

.nav-icon {
	font-size: 18px;
	margin-right: 5px;
}

.link:hover {
	background-color: #DB5B78;
	border-radius: 50px;
	transition: 0.5s;
}

@media only screen and (max-width: 650px) {
	.side-nav {
		position: fixed;
		width: 100%;
		height: 60px;
		bottom: 15px;
		border-radius: 30px;
	}
	.side-nav h2 {
		display: none;
	}
	.profile-image {
		display: none;
	}
	.link {
		margin-top: 10px;
		font-size: 13px;
		transition: 0.5s;
	}
	.nav-icon {
		font-size: 15px;
	}
	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.link:hover {
		border-radius: 50px;
		transition: 0.5s;
	}
}